@charset "UTF-8";

body {
    background-color: rgb(114, 93, 236);
    font-family: Arial, helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(221, 163, 5);
    background-color: rgb(46, 122, 236);
}

h2 {
    color: rgb(105, 86, 86);
}

p {
    text-align: justify;
}